E2E_BDK_EMAIL=bdkariyapperuma@gmail.com
E2E_BDK_PASSWORD=123456
E2E_BDK_BUSINESS_ID=3slrMTT9dVNlIETKbozzIsVZjjQ2
E2E_REP_ID=
E2E_SHOP_ID=
E2E_LORRY_ID=
PLAYWRIGHT_BASE_URL=https://digibiz-sys.web.app
